
<h1>List: <%= @list.name %></h1>
<p id="notice"><%= notice %></p>

<%= render 'companies/big5Header' %>
<div class="companySummaries" data-controller="drag" data-drag-url="/list/:id/moveCompany/:company_id">
<% @list.companies.order("company_lists.position asc").each do |c| %>
	<%= render 'companies/big5', company: c, list: @list %>
<% end %>
</div>

<br>
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
