<!-- home/root page -->
<h1>Home</h1>

<h2>Screeners</h2>

<%= link_to "Big 5", companies_path(screen: "Big 5") %>
<br>
<%= link_to "Big 5 Intrinsic Value Discounted", companies_path(screen: "Big 5 Intrinsic Value Discounted") %>
<br>
<%= link_to "Great Companies", companies_path(screen: "Great Companies") %>
<br>
<%= link_to "Intrinsic Value Discounted", companies_path(screen: "Intrinsic Value Discounted") %>

<br>
<%= link_to "All Companies", companies_path() %>


<h2>Utilities</h2>
<%= link_to 'Pull Financials for All Companies', updateAllCompanies_url, data: { confirm: 'Are you sure?' } %>
<br>
<%= link_to 'Add Companies', new_company_path %>
<br>
<%= link_to 'Accounts', accounts_path %>
<br>
<%= link_to 'Transactions', transactions_path %>
