<div <% if @list %>data-id="<%= list.id %>" data-company_id="<%= company.id %>"<% end %> class="big5">
	<!-- <span class='company_name'><%= company.name %></span> -->
	<span class="square symbol">
		<%= link_to company.symbol, company %>
		<% if defined?(account) and account %>
			<span class="small light"><%= number_with_precision(company.account_market_value / account.market_value * 100, precision: 1) %>%</span>
			<!-- <span class="small light"><%= number_to_currency(company.account_market_value, precision: 0) %></span> -->
		<% end %>
	</span>
	<%
	debt = number_with_precision(company.debt_ratio, precision: 1)

	revenue3 = number_with_precision(company.revenue_avg_growth3, precision: 1)
	revenue5 = number_with_precision(company.revenue_avg_growth5, precision: 1)
	revenue10 = number_with_precision(company.revenue_avg_growth10, precision: 1)

	eps3 = number_with_precision(company.eps_avg_growth3, precision: 1)
	eps5 = number_with_precision(company.eps_avg_growth5, precision: 1)
	eps10 = number_with_precision(company.eps_avg_growth10, precision: 1)

	fcf3 = number_with_precision(company.free_cash_flow_avg_growth3, precision: 1)
	fcf5 = number_with_precision(company.free_cash_flow_avg_growth5, precision: 1)
	fcf10 = number_with_precision(company.free_cash_flow_avg_growth10, precision: 1)

	equity3 = number_with_precision(company.equity_avg_growth3, precision: 1)
	equity5 = number_with_precision(company.equity_avg_growth5, precision: 1)
	equity10 = number_with_precision(company.equity_avg_growth10, precision: 1)

	roic3 = number_with_precision(company.roic_avg3, precision: 1)
	roic5 = number_with_precision(company.roic_avg5, precision: 1)
	roic10 = number_with_precision(company.roic_avg10, precision: 1)
	%>
	<span class="square <%= big5_temperature(roic3.to_f) %>">
		<span class="<%= big5_temperature(roic3.to_f) %>"><%= roic3 %></span>
		<span class="<%= big5_temperature(roic5.to_f) %>"><%= roic5 %></span>
		<span class="<%= big5_temperature(roic10.to_f) %>"><%= roic10 %></span>
	</span>
	<span class="square <%= big5_temperature(revenue3.to_f) %>">
		<span class="<%= big5_temperature(revenue3.to_f) %>"><%= revenue3 %></span>
		<span class="<%= big5_temperature(revenue5.to_f) %>"><%= revenue5 %></span>
		<span class="<%= big5_temperature(revenue10.to_f) %>"><%= revenue10 %></span>
	</span>
	<span class="square <%= big5_temperature(eps3.to_f) %>">
		<span class="<%= big5_temperature(eps3.to_f) %>"><%= eps3 %></span>
		<span class="<%= big5_temperature(eps5.to_f) %>"><%= eps5 %></span>
		<span class="<%= big5_temperature(eps10.to_f) %>"><%= eps10 %></span>
	</span>
	<span class="square <%= big5_temperature(fcf3.to_f) %>">
		<span class="<%= big5_temperature(fcf3.to_f) %>"><%= fcf3 %></span>
		<span class="<%= big5_temperature(fcf5.to_f) %>"><%= fcf5 %></span>
		<span class="<%= big5_temperature(fcf10.to_f) %>"><%= fcf10 %></span>
	</span>
	<span class="square <%= big5_temperature(equity3.to_f) %>">
		<span class="<%= big5_temperature(equity3.to_f) %>"><%= equity3 %></span>
		<span class="<%= big5_temperature(equity5.to_f) %>"><%= equity5 %></span>
		<span class="<%= big5_temperature(equity10.to_f) %>"><%= equity10 %></span>
	</span>
	<span class="square <%= debt_temperature(debt.to_f) %>"><%= debt %></span>

	<!-- <span class="square great_company <%= company.great %>"><%= link_to 'G', company %></span> -->
	<span class="square discount">
		<span><%= number_with_precision(company.discount, precision: 1) %>%</span>
		<span class='small light'><%= number_with_precision(company.dcf_discount, precision: 1) %>%</span>
		<% unless company.shareholders_equity_per_share.nil? %>
			<span class='small light'><%= number_with_precision(company.shareholders_equity_per_share / company.price * 100, precision: 1) %>%</span>
		<% end %>
		<span class='small light'>PE <%= number_with_precision(company.pe, precision: 0) %></span>
	</span>
	<span class="square gain">
		<% if company.account_gain_percent %>
		<span><%= number_with_precision(company.account_gain_percent, precision: 1) %>%</span>
		<span class="small light"><%= number_to_currency(company.account_gain_amount, precision: 0) %></span>
		<% end %>
	</span>
	<span class="sectorAndIndustry">
		<p class="sector"><%= company.country %> - <%= company.sector %>:</p>
		<p class="industry"><%= company.industry %></p>
	</span>
</div>