
<div <% if defined?(list) %>data-id="<%= list.id %>" data-company_id="<%= company.id %>"<% end %> class="big5">
	<span class="square symbol"><%= link_to company.symbol, company %></span>
	<%
	debt = number_with_precision(company.debt_ratio, precision: 1)

	revenue3 = number_with_precision(company.revenue_avg_growth3, precision: 1)
	revenue5 = number_with_precision(company.revenue_avg_growth5, precision: 1)
	revenue10 = number_with_precision(company.revenue_avg_growth10, precision: 1)

	eps3 = number_with_precision(company.eps_avg_growth3, precision: 1)
	eps5 = number_with_precision(company.eps_avg_growth5, precision: 1)
	eps10 = number_with_precision(company.eps_avg_growth10, precision: 1)

	fcf3 = number_with_precision(company.free_cash_flow_avg_growth3, precision: 1)
	fcf5 = number_with_precision(company.free_cash_flow_avg_growth5, precision: 1)
	fcf10 = number_with_precision(company.free_cash_flow_avg_growth10, precision: 1)

	equity3 = number_with_precision(company.equity_avg_growth3, precision: 1)
	equity5 = number_with_precision(company.equity_avg_growth5, precision: 1)
	equity10 = number_with_precision(company.equity_avg_growth10, precision: 1)

	roic3 = number_with_precision(company.roic_avg3, precision: 1)
	roic5 = number_with_precision(company.roic_avg5, precision: 1)
	roic10 = number_with_precision(company.roic_avg10, precision: 1)
	%>
	<span class="square <%= debt_temperature(debt.to_f) %>"><%= debt %></span>
	<span class="square <%= big5_temperature(revenue3.to_f) %>"><%= revenue3 %><br><%= revenue5 %><br><%= revenue10 %></span>
	<span class="square <%= big5_temperature(eps3.to_f) %>"><%= eps3 %><br><%= eps5 %><br><%= eps10 %></span>
	<span class="square <%= big5_temperature(fcf3.to_f) %>"><%= fcf3 %><br><%= fcf5 %><br><%= fcf10 %></span>
	<span class="square <%= big5_temperature(equity3.to_f) %>"><%= equity3 %><br><%= equity5 %><br><%= equity10 %></span>
	<span class="square <%= big5_temperature(roic3.to_f) %>"><%= roic3 %><br><%= roic5 %><br><%= roic10 %></span>

	<span class="square great_company <%= company.great %>"><%= link_to 'G', company %></span>
	<span class="square discount">
		<span><%= number_with_precision(company.discount, precision: 1) %>%</span>
		<br>
		<span class='light'><%= number_with_precision(company.dcf_discount, precision: 1) %>%</span>
	</span>
	<span class="square gain"><% if company.gain %><%= number_with_precision(company.gain, precision: 1) %>%<% end %></span>
	<span class="sectorAndIndustry">
		<p class="sector"><%= company.sector %>:</p>
		<p class="industry"><%= company.industry %></p>
	</span>
</div>