<p id="notice"><%= notice %></p>

<h1>Companies</h1>
<p><%= link_to 'Update All Companies', updateAllCompanies_url, data: { confirm: 'Are you sure?' } %></p>

<table class="summary">
  <thead>
    <tr>
      <th>Symbol</th>
      <!-- <th>Name</th> -->
      <th>Debt</th>
      <th>Revenue</th>
      <th>EPS</th>
      <th>FCF</th>
      <th>Equity</th>
      <th>ROIC</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td class="symbol"><%= link_to company.symbol, company %></td>
		<%
		debt = number_with_precision(company.key_metrics.order("date DESC").first.debt_ratio, precision: 1)
		revenue = number_with_precision(company.revenue_avg_growth5, precision: 1)
		eps = number_with_precision(company.eps_avg_growth5, precision: 1)
		fcf = number_with_precision(company.free_cash_flow_avg_growth5, precision: 1)
		equity = number_with_precision(company.equity_avg_growth5, precision: 1)
		roic = number_with_precision(company.roic_avg5, precision: 1)
		%>
        <td class="<%= debt.to_f > 5.0 ? 'no' : debt.to_f < 0.0 ? 'no' : debt ? 'yes' : '' %>"><%= debt %></td>
        <td class="<%= revenue.to_f > 15.0 ? 'yes' : revenue ? 'no' : '' %>"><%= revenue %></td>
        <td class="<%= eps.to_f > 15.0 ? 'yes' : eps ? 'no' : '' %>"><%= eps %></td>
        <td class="<%= fcf.to_f > 15.0 ? 'yes' : fcf ? 'no' : '' %>"><%= fcf %></td>
        <td class="<%= equity.to_f > 15.0 ? 'yes' : equity ? 'no' : '' %>"><%= equity %></td>
        <td class="<%= roic.to_f > 15.0 ? 'yes' : roic ? 'no' : '' %>"><%= roic %></td>
        <!-- <td><%= link_to 'Show', company %></td> -->
        <!-- <td><%= link_to 'Edit', edit_company_path(company) %></td> -->
        <!-- <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= @companies.count %> Companies</p>