<p id="notice"><%= notice %></p>

<h1><%= params['screen'] %></h1>

<p><%= @companies.count %> Companies</p>

<div class="big5 header">
<span></span>
<span>Debt</span>
<span>Revenue</span>
<span>EPS</span>
<span>FCF</span>
<span>Equity</span>
<span>ROIC</span>
<span></span>
<span>Discount</span>
</div>

<% @companies.each do |c| %>
  <%= render 'companies/big5', company: c %>
<% end %>

<br>
<%= link_to 'pull financials for these companies', updateAllCompanies_url(company_ids: @companies.ids) %>
