<p id="notice"><%= notice %></p>

<h1><%= params['screen'] %></h1>

<p class="centered"><%= @companies.count %> Companies</p>

<%= render 'companies/big5Header' %>
<% @companies.each do |c| %>
  <%= render 'companies/big5', company: c %>
<% end %>

<br>
<%= link_to 'update quotes for these companies', url_for(screen: params['screen'], updateQuotes: true) %>
<br>
<%= link_to 'pull complete financials for these companies', updateCompanies_url(company_ids: @companies.pluck(:id)) %>
