<p id="notice"><%= notice %></p>

<p>
  <strong>Symbol:</strong>
  <%= @company.symbol %>
</p>
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>
<p>
  <strong>IPO Date:</strong>
  <%= @company.ipoDate %>
</p>
<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>
<p>
  <strong>Price:</strong>
  <%= @company.price %>
</p>

<% @company.annual_key_financials.each do |a| %>
<br><%= a.date %> |
<%= a.roic %> |
<%= a.equity %> |
<%= a.eps %> |
<%= a.revenue %> |
<%= a.free_cash_flow %> |
<%= a.debt_ratio %>
<% end %>
<br>
<hr>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %> |
<%= link_to "Update Info", company_path(@company), method: :put %>