<p id="notice"><%= notice %></p>

<p>
  <strong>Symbol:</strong>
  <%= @company.symbol %>
</p>
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>
<p>
  <strong>IPO Date:</strong>
  <%= @company.ipoDate %>
</p>
<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>
<p>
  <strong>Price:</strong>
  <%= number_with_precision(@company.price, precision: 2) %>
</p>

<table class="financials">
	<caption>Annual Key Financials</caption>
	<thead>
		<tr>
			<th scope="col">Date</th>
			<th scope="col">Equity</th>
			<th scope="col">EPS</th>
			<th scope="col">Revenue</th>
			<th scope="col">FCF</th>
			<th scope="col">Debt</th>
			<th scope="col">ROIC</th>
			<th scope="col">Equity Growth</th>
			<th scope="col">EPS Growth</th>
			<th scope="col">Revenue Growth</th>
			<th scope="col">FCF Growth</th>
		</tr>
	</thead>
	<tbody>
	<% @company.key_metrics.order("date DESC").each_with_index do |v, k| %>
		<% unless k > 10 %>
		<tr class="<%= v.ttm ? 'ttm' : '' %>">
			<td><%= v.date %></td>
			<td><%= number_with_precision(v.equity, precision: 1) %></td>
			<td><%= number_with_precision(v.eps, precision: 1) %></td>
			<td><%= number_with_precision(v.revenue, precision: 1) %></td>
			<td><%= number_with_precision(v.free_cash_flow, precision: 1) %></td>
			<td><%= number_with_precision(v.debt_ratio, precision: 1) %></td>
			<td class="key"><%= number_to_percentage(v.roic, precision: 1) %></td>
			<!-- growth -->
			<% if @company.key_metrics.size > k + 1 %>
				<% prev = @company.key_metrics[k + 1] %>
				<td class="key"><%= number_to_percentage(((v.equity / prev.equity) - 1) * 100, precision: 1) %></td>
				<td class="key"><%= number_to_percentage(((v.eps / prev.eps) - 1) * 100, precision: 1) %></td>
				<td class="key"><%= number_to_percentage(((v.revenue / prev.revenue) - 1) * 100, precision: 1) %></td>
				<td class="key"><%= number_to_percentage(((v.free_cash_flow / prev.free_cash_flow) - 1) * 100, precision: 1) %></td>
			<% else %>
				<!-- <td></td>
				<td></td>
				<td></td>
				<td></td> -->
			<% end %>
		</tr>
		<% end %>
	<% end %>
	</tbody>
</table>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %> |
<%= link_to "Update Info", company_path(@company), method: :put %>