<h1>Account: <%= @account.name %></h1>

<% @companies = @account.active_companies.sort_by {|c| -c.account_market_value} %>

<%= render 'companies/big5_list', companies: @companies, account: @account %>

<br>
<strong>capital gain:</strong> <%= number_with_precision(@account.gain_percent, precision: 1) %>% <%= number_to_currency(@account.gain_amount) %>

<br>
<strong>market value:</strong> <%= number_to_currency(@account.market_value) %>

<br>
<%= link_to 'pull complete financials for these companies', updateCompanies_url(company_ids: @companies) %>

<% @companies = @account.inactive_companies.sort_by {|c| -c.account_gain_amount} %>
<% if @companies.count() > 0 %>
<br>
<br>
<br>
<br>
<br>
<h2>Oldies</h2>
<%= render 'companies/big5_list', companies: @companies, account: @account %>
<% end %>
