<h1>Account: <%= @account.name %></h1>

<% @companies = @account.active_companies %>

<%= render 'companies/big5_list', companies: @companies, account: @account %>

<% gain_percent, gain_amount, cost = @account.gain %>
<p><strong>capital gain:</strong> <%= number_with_precision(gain_percent, precision: 1) %>% <%= number_to_currency(gain_amount) %></p>

<%= link_to 'pull complete financials for these companies', updateCompanies_url(company_ids: @companies) %>

<% @companies = @account.inactive_companies %>
<% if @companies.count() > 0 %>
<br>
<br>
<br>
<br>
<br>
<h2>Oldies</h2>
<%= render 'companies/big5_list', companies: @companies, account: @account %>
<% end %>
